version: 2
jobs:
  build:
    docker:
      - image: korosuke613/etrobo-docker
    working_directory: /home/build
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: move str directory and cd product
          command: |
            mv str /home/hrp2/sdk/workspace/
            mv -T /home/hrp2/sdk/workspace/str/ /home/hrp2/sdk/workspace/product/

      - run:
          name: makeRight
          command: |
            cd /home/hrp2/sdk/workspace/product/
            ./makeRight.sh
      - run:
          name: makeLeft
          command: |
            cd /home/hrp2/sdk/workspace/product/
            ./makeLeft.sh